.sad_txt {
	color:red;
}

.happy_txt {
	color:green;
}

.expand {
	width:100%;
}

.float_left {
	float:left;
}

.float_right {
	float:right;
}

.bot_gap {
	margin-bottom:10px;
}

.top_gap {
	margin-top:10px;
}

.right_gap {
	margin-right:10px;
}

.left_gap{
	margin-left:10px;
}

.smaller {
	font-size:75%;
}

.larger {
	font-size:125%;
}

.no_border {
    border:none;
}

.no_shadow {
    box-shadow:none;
}

.no_show {
	visibility:hidden;
}

.no_display {
	display:none;
}

.no_margin {
	margin:0px;
}

.clear {
	clear:both;
}

.text_center {
	text-align:center;
}

div.center {
	margin-left:auto;
	margin-right:auto;
}

img.center, button.center,
canvas.center, input.center {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

img {
	image-rendering:optimizeQuality;
}

/*------------------------------------------------*/

#wrapper {
	padding-top:50px;
	margin-left:20px;
	margin-right:20px;
}

#footer {
	text-align:center;
}

#qrbox {
	display:none;
}

#sort_select {
	width:105px;
}

#filter_select {
	width:90px;
}

#txlist_form {
	float:right;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:5px;
}

.main_info {
	color:green;
	font-size:70%;
	font-weight:normal;
}

.orphan_info {
	color:red;
	font-size:70%;
	font-weight:normal;
}
